@import url('https://fonts.googleapis.com/css?family=Monoton|Raleway|Roboto&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* universal Class */
.dark-background{
  background: #000;
  color: #ddd;
}

.light-background{
  background: #AA15B6;
  color: #fff;
}

.section-head{
  font-size: 35px;
  margin-bottom: 20px;
}

.section-content{
  font-size: 20px;
  text-align: center;
  width: 1100px;
  margin-bottom: 60px;
}

.v-line{
  height: 10px;
  width: 140px;
  background: #fff;
  margin-bottom: 60px;
}

header, .footer-section, footer{
  font-family: 'Roboto', sans-serif;
}

.container{
  font-family: 'Raleway', sans-serif;
}

/* section design */

header{
  background: url('img/cover.jpg') center center /cover;
  min-height: 130vh;
  color: #fff;
}

.menu-title{
  display: flex;
  justify-content: space-between;
  padding: 60px 100px;
  text-transform: uppercase;
}

.site-title a{
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  letter-spacing: 2px;
}

.menu-list{
  display: flex;
  justify-content: center;
  list-style: none;
}

.list-link{
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  letter-spacing: 1px;
  padding: 5px;
  margin: 0 20px;
  font-weight: bold;
}

.menu-toggle{
  display: flex;
  align-items: center;
}

.toggle-btn{
  cursor: pointer;
}

.bar-1, .bar-2, .bar-3{
  width: 20px;
  height: 2px;
  background: #fff;
  margin: 4px 0;
}

.header-text{
  display: flex;
  justify-content: space-between;
  margin: 150px 140px;
}

.circle{
  height: 700px;
  width: 700px;
  border-radius: 50%;
  background: rgba(211, 16, 78, 0.541);
  position: relative;
}

.circle-text-1{
  position: absolute;
  left: 180px;
  top: 250px;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 100;
}

.circle-text-2{
  position: absolute;
  left: 145px;
  top: 340px;
  font-size: 80px;
  text-transform: uppercase;
  font-family: 'Monoton', cursive;
  font-weight: 400;
}

.content{
  margin-top: 80px;
  text-align: right;
  max-width: 700px;
}

.content-head{
  margin-left: 100px;
  font-size: 80px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.content-text{
  font-size: 25px;
}

.content-btn{
  margin: 30px 0;
  color: rgb(31, 9, 110);
  background: #fff;
  height: 50px;
  width: 250px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

.guest-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 140px 250px;
  line-height: 1.7;
}

.fa-compact-disc{
  font-size: 70px;
  margin-bottom: 20px;
}

.group-section{
  padding: 110px 200px;
  display: flex;
}

.group{
  margin: 10px 20px;
}

.fa-play{
  font-size: 30px;
  padding-right: 10px;
  padding-bottom: 30px;
}

.group-head{
  font-size: 20px;
  margin-bottom: 30px;
}

.group-content{
  font-size: 20px;
}

.priority-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 140px 150px;
  line-height: 1.7;
}

.testimonials{
  display: flex;
}

.testimonial-block{
  margin: 20px;
  background: #AA15B6;
  color: #fff;
  padding: 80px 100px;
}

.testimonial-head{
  font-size: 23px;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.testimonial-msg{
  font-size: 18px;
  margin-bottom: 40px;
}

.text-circle{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.testimonial-circle{
  height: 80px;
  width: 80px;
  border: 10px solid #eee;
  border-radius: 50%;
}

.name{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.image-section-1{
  background: url('img/cover4.jpg') no-repeat center center /cover;
  min-height: 550px;
}

.activities-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0px;
}

.second-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.second-link{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  margin: 0 20px;
}

.image-seciton-2{
  background: url('img/cover2.jpg') no-repeat left top /cover;
  min-height: 500px;
}

.qute-seciton{
  display: flex;
  flex-direction: column;
  padding: 120px 0px;
  justify-content: center;
  align-items: center;
}

.qute-sign{
  font-size: 40px;
  padding: 50px 0;
}

.image-section-3{
  background: url('img/cover3.jpg') no-repeat center center /cover;
  min-height: 900px;
}

.number-section{
  background: url('img/cover2.jpg') no-repeat center center /cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 120px;
}

.numbers{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px 0px;
  width: 900px;
  margin-bottom: 170px;
}

.number-block{
  margin: 20px;
}

.number-year{
  margin-top: 40px;
  font-size: 25px;
}

.number-title{
  margin: 20px 0;
  font-size: 27px;
  text-transform: uppercase;
}

.project-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 150px;
}

.project{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px;
  text-align: center;
}

.project-content{
  width: 500px;
  padding: 40px;
}

.project-meta{
  font-size: 23px;
  margin-bottom: 20px;
  font-weight: bold;
}

.project-title{
  font-size: 28px;
  margin-bottom: 20px;
}

.project-detail{
  font-size: 20px;
}

.trip-section{
  padding: 100px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trip{
  border-left: 10px solid #fff;
  padding: 20px;
}

.trip-text{
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: bold;
}

.trip-meta{
  font-size: 18px;
  font-weight: bold;
}

.social-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons i{
  margin: 50px 20px;
  font-size: 40px;
  background: #ddd;
  color: #000;
  border-radius: 50%;
  width: 60px;
  padding: 10px;
  text-align: center;
}

.footer-section{
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding: 80px 200px;
}

.footer-block{
  width: 50%;
  padding-right: 220px;
}

.footer-block-s{
  width: 25%;
}

.footer-head{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-content{
  font-size: 20px;
}

.footer-menu{
  list-style: none;
}

.menu-link{
  text-decoration: none;
  color: #fff;
  margin: 0 20px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.5;
}

footer{
  display: flex;
  justify-content: space-around;
}

.copyright-text, .dev-text{
  padding: 30px;
  text-align: center;
}